<h1>BestBuy Stores within a 25 miles radius from <%= @miles %>:</h1>

<% @stores.map do |store| %>
  <p>Store name: <%= store.long_name %></p>
  <p>City: <%= store.city %></p>
  <p>Distance:
  <p>Phone number: <%= store.phone %></p>
  <p>Type of store: <%= store.type %></p>
  <hr>
<% end %>
